<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to bottom, #4CAF50, #e8f5e9); 
            margin: 0;
            padding: 0;
        }

        .container {
            background-color: #e8f5e9; 
            max-width: 400px;
            width: 100%;
            padding: 35px; 
            border-radius: 20px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;
        }

        h2 {
            text-align: center;
            color: #555; 
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #555; 
            font-weight: bold; 
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px; 
            margin: 10px 0;
            border: 1px solid #ddd;
            border-radius: 5px; 
            transition: border-color 0.3s;
            font-size: 16px; 
        }

        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="password"]:focus {
            border-color: #4CAF50; 
            outline: none;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #4CAF50; 
            color: white;
            border: none;
            border-radius: 5px; 
            cursor: pointer;
            font-size: 16px; 
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #4CAF50; 
        }

        p {
            text-align: center;
            color: #4CAF50; 
            margin-top: 20px;
        }

        a {
            color: #4CAF50; 
            text-decoration: none;
            font-weight: bold; 
        }

        a:hover {
            text-decoration: underline; 
        }
    </style>
    <title>Register</title>
</head>
<body>
    <div class="container">
        <h2>Register Akun</h2>
        <form action="/auth/register" method="POST">
            <label for="username">Nama Pengguna</label>
            <input type="text" id="username" name="username" placeholder="Masukkan nama pengguna" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Masukkan email" required>

            <label for="password">Kata Sandi</label>
            <input type="password" id="password" name="password" placeholder="Masukkan kata sandi" required>

            <button type="submit">Register</button>
        </form>
        <p>Sudah memiliki akun? <a href="/auth/login">Login disini!</a></p>
    </div>
</body>
</html>